@charset "UTF-8";
/*-----------------------------------------------*/
/* Шрифты, переменные, типография, вводные стили */
/*-----------------------------------------------*/
* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a {
  text-decoration: underline; }

html {
  font-size: 10px; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000;
  max-width: 1920px;
  margin: 0 auto; }

html, body {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden; }

.main-block {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.container {
  position: relative;
  z-index: 2; }
  .container:after {
    content: "";
    display: block;
    clear: both; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

img {
  max-width: 100%;
  max-height: 100%; }

input:invalid {
  box-shadow: none; }

iframe {
  border: none; }

textarea {
  resize: none; }

section {
  position: relative; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold; }

/*-----------------------------------------------*/
/* Элементы (отдельные секции, блоки) */
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* Компоненты (кнопки, формы, пагинация и тд) */
/*-----------------------------------------------*/
.btn:focus {
  box-shadow: none; }

.form-conf a {
  color: #000;
  text-decoration: underline; }

.fancybox-button:focus,
.fancybox-close-small:focus:after {
  outline: none; }

.nav-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%; }

/*-----------------------------------------------*/
/* Стили отдельных страниц */
/*-----------------------------------------------*/
