/* Подключение шрифтов */


/* mixins */

@mixin placeholder($color: lightgray, $weight: normal){
	&::-webkit-input-placeholder { color: $color; font-weight: $weight; }
	&::-moz-placeholder          { color: $color; font-weight: $weight; }
	&:-moz-placeholder           { color: $color; font-weight: $weight; }
	&:-ms-input-placeholder      { color: $color; font-weight: $weight; }
}

/* Переменные */

$text-color: #000;
$light: #f2f2f2;

$primary: #007bff;
$success: #28a745;

// text-shadow
$tsb: -1px 1px 1px #000;
$tsw: -1px 1px 1px #fff;

// Шрифты
$base-font: Helvetica, Arial, sans-serif;

/* Общие стили */

*{
	box-sizing: border-box;
	&::selection{  }
	&:focus{ outline: none; }
}

a{ text-decoration: underline; }

html{
	font-size: 10px;
}
body{
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.18;
	font-family: $base-font;
	color: $text-color;
	max-width: 1920px;
	margin: 0 auto;
}
html, body{
	height: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
.main-block {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
	position: relative;
	z-index: 2;
	&:after{
		content:"";
		display: block;
		clear: both;
	}
}
@media screen and (min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}

img{
	max-width: 100%;
	max-height: 100%;
}
input:invalid{
	box-shadow: none;
}
section{
	position: relative;
}
iframe{
	border: none;
}
textarea{
	resize: none;
}
ul.none{
	margin: 0;
	padding: 0;
	list-style: none;
}

.d-table{
	&-cell{
		padding: 5px;
		border: 1px solid $text-color;
		border-right: none;
		border-bottom: none;
		&:last-child{
			border-right: 1px solid $text-color;
		}
	}
	&-row{
		&:last-child{
			.d-table-cell{
				border-bottom: 1px solid $text-color;
			}
		}
	}
}

.btn{
	&:focus{
		box-shadow: none;
	}
}

/* Modals */

.fancybox-button:focus,
.fancybox-close-small:focus:after{
	outline: none;
}
