/*
|---------------------------------------
| Цвета сайта
|---------------------------------------
*/

$text-color: #000;

// Полупрозрачные черный и белый
$half-black: rgba(0,0,0,.5);
$half-white: rgba(255,255,255,.5);