/*
|--------------------------------------------
| Переменные
|--------------------------------------------
*/

$base-line-height: 1.2;
$base-font-size: 16px;
$border-radius: 5px;

// Тень текста
$tsb: -1px 1px 1px #000;
$tsw: -1px 1px 1px #fff;