/*
|--------------------------------------------
| Стили элементов форм
|--------------------------------------------
*/

.form{
	&-group{
		margin-top: 10px;
	}
	&-input{
		&-text{
			display: block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
			@include placeholder($text-color);
			&.form-select{
				
			}
			&.textarea{
				line-height: $base-line-height;
				padding: 10px;
			}
		}
		&-submit{
			border: none;
		}
	}
	&-policy{
		a{
			text-decoration: underline;
		}
	}
}