/*
|--------------------------------------------
| Главный файл стилей
|--------------------------------------------
*/

.header{
	
}

.nav{
	&-wrapper{

	}
	&-fixed{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
	}
}

.top-menu{
	&>li{
		&>a{

		}
	}
	&-level-2{
		&>li{
			&>a{
				
			}
		}
	}
}

.footer{
	
}